.search-block{
    position: relative;
    // z-index: 101;

    @include vp-1024{
        background: rgba(255, 255, 255, 1);
        padding: 20px 0 0;
    }

    .result__title{
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        color: rgba(30, 34, 46, 1);
        padding: 0 0 56px;
        margin: 0;

        @include vp-768{
            font-size: 32px;
            line-height: 36px;
            padding: 0 0 64px;
        }

        @include vp-1024{
            font-size: 40px;
            line-height: 44px;
            padding: 0 0 120px;
        }

        &::after{
            position: absolute;
            left: 0;
            top: 116px;
            content: "";
            width: 100%;
            height: 1px;
            background: rgba(219, 223, 236, 1);

            @include vp-768{
                top: 124px;
            }

            @include vp-1024{
                top: 162px;
            }
        }
    }

    &--open{
        display: none;

        
    }
}