.yandex{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    &__text{
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: rgba(30, 34, 46, 1);
        padding: 0;
        margin: 0;    

        @include vp-768{
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__link{

        &:focus-visible{
            outline: none;
        }
    }
}